<% provide(:title, "Home") %>

<header class="masthead">
    <div class="splash-container">
        <div class="intro-text">
            <div class="intro-lead-in">
                Find competitions. Form a team. Compete.
            </div>
            <div class="intro-heading text-uppercase">
                Competition Hotpot
            </div>
            <%= link_to "Explore Competitions", signup_path, class: "btn btn-xl btn-primary" %>
        </div>
    </div>
</header>
<!-- 
<% unless logged_in? %>
    <center><%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %></center>
<% end %>
-->
<h1>Upcoming Competitions</h1>

<h2>Competition 1</h2> 
<center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
'/competitions' %></center>

<br>

<h2>Competition 2</h2> 
<center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
'/competitions' %></center>

<br>

<h2>Competition 3</h2>

<center><%= link_to image_tag("test.png", alt: "competition 1", size:"886x210"),
'/competitions' %></center>



