<% provide(:title, @student.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @student %>
        <%= @student.name %>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <%= "Email: " %>
        <br><br>
        <%= @student.email.to_s%>
        <br><br>
        <hr>
        <%= "Phone Number: " %> 
        <br><br>
        <%=@student.phone_number.to_s %>
        <br><br>
        <hr>
        <%= "Date of Birth: "%>
        <br><br>
        <%= @student.dob.to_s %>
        <br><br>
        <hr>
        <%= "Education Level: " %>
        <br><br>
        <%= @student.education_level.to_s %>
      </h1>
    </section>
  </aside>
</div>