<footer class="footer-distributed">

	<div class="footer-left">
		<h3>OneSource</h3>
        <br><br\>
        <p class="footer-company-about">
			<span>About the company</span>
			We connect students to the competitions they want.
		</p>
				
		<div class="footer-icons">
			
            <%= link_to image_tag("facebook.png", alt: "facebook logo"),
            'http://facebook.com/' %>
			<%= link_to image_tag("twitter.png", alt: "twitter logo"),
            'http://twitter.com/' %>
            <%= link_to image_tag("instagram.png", alt: "instagram logo"),
            'http://instagram.com/' %>
			<%= link_to image_tag("linkedin.png", alt: "linkedin logo"),
            'http://linkedin.com/' %>
			<%= link_to image_tag("email.png", alt: "email logo"),
            '' %>
		</div>
		
			<p class="footer-company-name">OneSource © 2018</p>
	</div>

	<div class="footer-center-left">
        <div>
			<div>
				<i class="fa fa-company"></i>
				<p> Company</p>
			</div>

			<div>
				<i class="fa fa-about-us"></i>
				<p>About</p>
			</div>
				
			<div>
				<i class="fa fa-inside-onesource"></i>
				<p>Inside OneSource</p>
			</div>
				
			<div>
				<i class="fa fa-careers"></i>
				<p>Careers</p>
			</div>
				
			<div>
				<i class="fa fa-terms-and-conditions"></i>
				<p>Terms and Conditions</p>
			</div>
				
			<div>
				<i class="fa fa-privacy-policy"></i>
				<p>Privacy Policy</p>
			</div>
		</div>
	</div>
			
	<div class="footer-center-right">
	    <div>
			<div>
			    <i class="fa fa-business-solutions"></i>
			    <p>Business Solutions</p>
			</div>
			  
			<div>
			    <i class="fa fa-educational-institutions"></i>
			    <p>For Educational Institutions</p>
			</div>
			
			<div>
			    <i class="fa fa-for-corporate"></i>
			    <p>For Corporate</p>
		    </div>
		</div>
	</div>
			
    <div class="footer-right">
        <div>
            <div>
			    <i class="fa fa-popular-competition-categories"></i>
			    <p>Popular Competitions Categories</p>
			</div>
          
            <div>
			    <i class="fa fa-hackathons"></i>
			    <p>Hackathons</p>
			</div>
			    
			<div>
			    <i class="fa fa-case-competitions"></i>
			    <p>Case Competitions</p>
			</div>

            <div>
			    <i class="fa fa-entreneurship"></i>
		        <p>Entrepreneurship</p>
			</div>

            <div>
			    <i class="fa fa-social"></i>
			    <p>Social</p>
			</div>
            <div>
			    <i class="fa fa-science"></i>
			    <p>Science</p>
			</div>
        </div>
	</div>
</footer>


<!--
<footer class="footer">
    <h1 id="bottom-logo">
        <%= link_to "OneSource", root_path, :id => "bottom-logo" %>
    </h1>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Competitions", competitions_path %></li>
        </ul>
    </nav>
</footer>

-->